@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cairo;
  src: url(/fonts/NotoKufiArabic-Regular.ttf);
}

* {
  font-family: Cairo, sans-serif;
}

body, html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
